h1,
h2,
h3 {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 20px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Varanasi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 280px;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/Varanasi-night.jpeg");
  /* rgb format of #272044 */
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  padding: 100px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer a {
  color: white;
  opacity: 0.7;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  margin: 0;
}
.footer_p {
  text-align: center;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 300px 5px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20 px;
  }
  header h3 {
    font-size: 15px;
    margin: 0;
  }
  header a {
    padding: 7px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}
